<!DOCTYPE html>
<html>

  <head>
    <meta charset = "UTF-8">
    <title>Amsterdam: Airbnb Pricing Predictor</title>

    <!-- CSS  -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>

  <body>
    
    <div class = "login" >
      <h1>Airbnb Price per Night Predictor</h1>
      Helps you predict the price of your Airbnb listing per night! 
      Check out my Github repo for this app <a href="https://github.com/philliplagoc/Airbnb-Housing-Price-Predictor">here.</a>
      
      <!-- Main Input for Receiving Query to our ML -->
      <form action = "{{ url_for('predict')}}" method = "post">
        <input type="text" name = "n_accommodates" placeholder = "How many people can it accommodate?" required = "required">
        <input type = "text" name = "n_beds" placeholder = "Number of bedrooms?" required = "required"/>
        <input type = "text" name = "n_baths" placeholder = "Number of bathrooms?" required = "required"/>
        <input type = "text" name = "security_deposit_amount" placeholder = "How much is the security deposit?" required = "required"/>
        <input type = "text" name = "cleaning_fee_amount" placeholder = "How much is the cleaning fee?" required = "required"/>

        <div>
          <label for="property_type">Property Type</label>
          <select name="property_type">
            <option value="19">Apartment</option>
            <option value="22">House</option>
            <option value="23">Townhouse</option>
            <option value="12">Other</option>
          </select>
        </div>

        <!-- Button to make prediction -->
        <button type="submit" class="btn btn-primary btn-block btn-large" >Predict Price</button>
      </form>

      <br>
      {{ prediction_text }}
    </div>

  </body>





</html>